<div class="container" style="margin-top: 40px;">
    <% if @searches.empty? %>
        <div align="center">
            <h2 style="margin-top: 150px"><i class="fas fa-chalkboard-teacher"></i> 검색결과가 없습니다.</h2>
            <h7><%= link_to " 돌아가기", request.referrer, class: "fas fa-undo" %></h7>
            <% if (user_signed_in?) && (current_user.has_role? :admin) %>
                <span style="margin-left: 15px"><%= link_to ' 대학 추가', new_univ_path, class: "fas fa-graduation-cap" %></span>
            <% end %>
        </div>
    <% else %>
        <% @searches.each do |x| %>
            <%= link_to univ_path(x), style: "color: black; text-decoration: none" do %>
                <div align="center">
                    <div class="row univ-mobile_list_box">
                        <% if x.logo_image.present? %>
                        <div class="col-3" style="text-align: center"><img src="<%= x.logo_image %>" style="max-width: 70px; max-height: 60px;"></div>
                        <% elsif (Rails.application.assets.find_asset "campus_logo/#{x.img_name}.png") != nil %>
                        <div class="col-3" style="text-align: center"><img src="<%= asset_path "campus_logo/#{x.img_name}" %>" style="max-width: 70px; max-height: 60px;"></div>
                        <% end %>
                        <div class="col-9">
                            <div style="font-size: 20px"><%= x.univ_name_kor %></div>
                            <div style="font-size: 15px"><%= x.univ_name_eng %></div>
                        </div>
                        <% if (user_signed_in?) && (current_user.has_role? :admin) %>
                            <div class="offset-3 col-9" style="margin-top: 10px">
                                <i class="fas fa-eye"></i> <%= x.impressionist_count %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>