<!-- 경덕 & 종우 작품 -->
<div class="d-none d-md-block" style="margin-top: 200px"></div>

<div class="container login_main">
  <div class="container devise_form">
  
    <div class="row justify-content-md-center mttitle">
    <div class="col-md-7 bor">
      
      <div class="offset-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <% if alert %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 20px">
              <%= alert %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% elsif notice %>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <%= notice %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          
          <div class="col-md-12" style="margin-top: 30px; margin-left: -10px;">
            <label class="form_1">
              <%= f.email_field :email, id: "form_1", autofocus: true, autocomplete: "email", placeholder: " ", required: true %>
              <span class="label">이메일</span>
            </label>
          </div>
          
          <div class="col-md-12" style="margin-top: 30px; margin-left: -10px;">
            <label class="form_2">
              <%= f.password_field :password, class: "devise_noborder", id: "form_2", autofocus: true, autocomplete: "off", placeholder: " ", required: true, style: "font-family: nanum-gothic" %>
              <span class="label">암호</span>
            </label>
          </div>
          
          <% if devise_mapping.rememberable? -%>
            <div class="field mt" align="right">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
        
        <div class="container row" style="justify-content: center;">
          <div style="margin-left: 30px;">
            <%= f.submit "로그인", class: "btn btn btn-info" %>
          </div>
        </div>
        
        <hr/>
        
        <%- if devise_mapping.omniauthable? %>
        <div align="center" style="margin-bottom: 10px;">
          <%- resource_class.omniauth_providers.each do |provider| %>
            <% if provider.to_s == "naver" %>
                <%= link_to "#{image_tag "#{asset_path('white-naver.png')}", style: "width: 15px; padding-top: 2px" } 네이버 아이디 로그인".html_safe, omniauth_authorize_path(resource_name, provider), class: "btn btn-sm", style: "background-color: #00C73C; color: white" %>
            <% end %>
            <% if provider.to_s == "google_oauth2" %>
                <%= link_to "#{image_tag "#{asset_path('white-google.png')}", style: "width: 15px; padding-top: 2px" } 구글 아이디 로그인".html_safe, omniauth_authorize_path(resource_name, provider), class: "btn btn-sm", style: "background-color: #ff422f; color: white" %>
            <% end %>
          <% end -%>
        </div>
      <% end -%>
      </div>
    <% end %>
    
    </div>
    <div style="margin-top: 30px" align="center">
      <%= render "devise/shared/info" %>
    </div>
    
  </div>
</div>