<%= form_with(model: univ, local: true) do |form| %>
  <% if univ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(univ.errors.count, "error") %> prohibited this univ from being saved:</h2>

      <ul>
      <% univ.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-md-2"><%= form.label :"대학명(한글)" %></div>
    <div class="col-md-10"><%= form.text_field :univ_name_kor, id: :univ_univ_name_kor, class: "input_noborder" %></div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= form.label :"대학명(영어)" %></div>
    <div class="col-md-10"><%= form.text_field :univ_name_eng, id: :univ_univ_name_eng, class: "input_noborder" %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"대학 줄임말 등 명칭" %></div>
    <div class="col-md-10"><%= form.text_field :univ_nickname, id: :univ_univ_nickname, class: "input_noborder", placeholder: "강대 UNIST 항공대" %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"대학 웹메일 주소" %></div>
    <div class="col-md-10"><%= form.text_field :email_url, id: :univ_email_url, class: "input_noborder" %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"대학 이미지 이름(영문)" %></div>
    <div class="col-md-10"><%= form.text_field :img_name, id: :univ_img_name, class: "input_noborder", placeholder: "로고/배너 이미지를 업로드 할 경우 비워두세요." %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"배너 이미지 파일" %></div>
    <div class="col-md-4"><%= form.file_field :banner_image %></div>
    <div class="col-md-2"><%= form.label :"로고 이미지 파일" %></div>
    <div class="col-md-4"><%= form.file_field :logo_image %></div>
  </div>

  <div class="field" style="margin-top: 10px; margin-bottom: 30px;">
    <%= tinymce :language => "en" %>
    <%= form.text_area :content, id: :univ_content, class: "form-control", rows: "10", id: "univ-content", placeholder: "하단 혜택 체크박스를 클릭하면 자동으로 여기에 내용이 들어갑니다." %>
  </div>
  
  <div class="form_option">혜택</div>
  <div class="row select_option">
    <div class="col-md-6">
      <div><%= form.label :"MS Office 소프트웨어 구성" %> <%= form.check_box :ms_office, id: :univ_ms_office, placeholder: "MS Office" %></div>
      <div><%= form.label :"AWS 기본 크레딧" %> <%= form.check_box :aws_credit_normal, id: :univ_aws_credit_normal, placeholder: "AWS Credit" %></div>
      <div><%= form.label :"AWS 100달러 Credit" %> <%= link_to "[대학 목록]", "https://s3.amazonaws.com/awseducate-list/AWS_Educate_Institutions.pdf", target: "_blank" %> <%= form.check_box :aws_credit_100, id: :univ_aws_credit_100, placeholder: "AWS 100달러 Credit" %></div>
      <div><%= form.label :"Github" %> <%= form.check_box :github, id: :univ_github, placeholder: "Github" %></div>
      <div><%= form.label :"제트브레인(IDE)" %> <%= form.check_box :jet_brain, id: :univ_jet_brain, placeholder: "Jet Brain" %></div>
      <div><%= form.label :"YGOON 몰" %> <%= form.check_box :Y_goon, id: :univ_Y_goon, placeholder: "YGOON 대학생 복지몰 교육할인스토어" %></div>
      <div><%= form.label :"KFC" %> <%= form.check_box :KFC, id: :univ_KFC, placeholder: "KFC" %></div>
      <div><%= form.label :"AOC" %> <%= link_to "[대학 목록]", "https://www.apple.com/kr/shop/browse/home/aoc", target: "_blank" %> <%= form.check_box :AOC, id: :univ_AOC, placeholder: "AOC(애플 스토어 할인)" %></div>
      <div><%= form.label :"어도비 소프트웨어 패키지" %> <%= form.check_box :adobe, id: :univ_adobe, placeholder: "Adobe 소프트웨어 패키지" %></div>
      <div><%= form.label :"소프트웨어 중심대학" %> <%= link_to "[대학 목록]", "http://www.edaily.co.kr/news/read?newsId=03175046619378496&mediaCodeNo=257", target: "_blank" %> <%= form.check_box :software, id: :univ_software, placeholder: "소프트웨어 중심대학" %></div>
      <div><%= form.label :"삼성 드림클래스" %> <%= form.check_box :samsung_dreamclass, id: :univ_samsung_dreamclass, placeholder: "삼성 드림클래스" %></div>
      <div><%= form.label :"에브리타임" %> <%= form.check_box :everytime, id: :univ_everytime, placeholder: "에브리타임(everytime)" %></div>
      <div><%= form.label :"드림스폰" %> <%= form.check_box :dreamspon, id: :univ_dreamspon, placeholder: "드림스폰(dreamspon)" %></div>
    </div>
    <div class="col-md-6">
      <div><%= form.label :"한국장학재단" %> <%= form.check_box :KOSAF, id: :univ_KOSAF, placeholder: "한국장학재단 : 국가장학금" %></div>
      <div><%= form.label :"파란사다리" %> <%= link_to "[대학 목록]", "http://www.kosaf.go.kr/ko/mkinfo.do?pg=blueladder&ttab1=2", target: "_blank" %> <%= form.check_box :blue_ladder, id: :univ_blue_ladder, placeholder: "단기 어학연수 장학 사업 : 파란사다리" %></div>
      <div><%= form.label :"무료 논문 열람 : DBPIA" %> <%= form.check_box :dbpia, id: :univ_dbpia, placeholder: "DBPIA" %></div>
      <div><%= form.label :"무료 논문 열람 : RISS" %> <%= form.check_box :riss, id: :univ_riss, placeholder: "RISS" %></div>
      <div><%= form.label :"Matlab" %> <%= link_to "[대학 목록]", "https://m.blog.naver.com/matlablove/221180360031", target: "_blank" %> <%= form.check_box :matlab, id: :univ_matlab, placeholder: "매트랩(Matlab)" %></div>
      <div><%= form.label :"Auto Desk" %> <%= form.check_box :autodesk, id: :univ_autodesk, placeholder: "오토데스크 (Auto Desk)" %></div>
      <div><%= form.label :"LH 주택청약" %> <%= form.check_box :lh, id: :univ_lh, placeholder: "LH 대학생 전세임대주택" %></div>
      <div><%= form.label :"Job Planet" %> <%= link_to "[대학 목록]", "https://www.jobplanet.co.kr/welcome/notices", target: "_blank" %> <%= form.check_box :job_planet, id: :univ_job_planet, placeholder: "잡플래닛 무료열람" %></div>
      <div><%= form.label :"Window 10 Edu" %> <%= link_to "[대학 목록]", "https://event.eventservice.co.kr/microsoft/2017/00/web/0223_win10.html", target: "_blank" %> <%= form.check_box :win10, id: :univ_win10, placeholder: "윈도우 10(Window 10) Edu" %></div>
      <div><%= form.label :"인프런(Inflearn)" %> <%= link_to "[대학 목록]", "https://www.inflearn.com/inflearnxschool", target: "_blank" %> <%= form.check_box :inflearn, id: :univ_inflearn, placeholder: "인프런(Inflearn) : IT 교육 플랫폼" %></div>
      <div><%= form.label :"Edwith" %> <%= link_to "[대학 목록]", "https://www.edwith.org/", target: "_blank" %> <%= form.check_box :edwith, id: :univ_edwith, placeholder: "Edwith : IT 교육플랫폼" %></div>
      <div><%= form.label :"구름 IDE" %> <%= link_to "[대학 목록]", "https://edu.goorm.io/university", target: "_blank" %> <%= form.check_box :goorm_ide, id: :univ_goorm_ide, placeholder: "구름 IDE : 클라우드 IDE" %></div>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-12"><%= form.check_box :etc, id: :univ_etc_content %> <%= form.label :"기타 혜택(체크 필수)" %></div>
    <div class="col-md-12"><%= form.text_area :etc_content, id: :univ_etc_content, class: "form-control tinymce", rows: 10 %></div>
  </div>

  <div class="actions" align="center" style="margin-top: 30px">
    <%= form.button "작성", class: "btn btn-sm btn-primary" %>
    <%= link_to '목록', univs_path, class: "btn btn-sm btn-dark"  %>
  </div>
<% end %>

<!-- 혜택 클릭 이벤트 js -->
<script src="/js/select_promotion.js"></script>