<%= form_with(model: promotion, local: true) do |form| %>
  <% if promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% promotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-md-2"><%= form.label :"혜택 명" %></div>
    <div class="col-md-10"><%= form.text_field :title, id: :promotion_title, class: "input_noborder" %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"헤택 URL 주소" %></div>
    <div class="col-md-10"><%= form.text_field :url, id: :promotion_url, class: "input_noborder" %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"썸네일 사진 이름" %></div>
    <div class="col-md-10"><%= form.text_field :thumb, id: :promotion_thumb, class: "input_noborder" %></div>
  </div>
  
  <div class="field row">
    <div class="col-md-2"><%= form.label :"혜택 해시태그" %></div>
    <div class="col-md-10"><%= form.text_field :univ_hashtag, id: :promotion_univ_hashtag, class: "input_noborder", style: "font-family: nanum-gothic", placeholder: "아래 옵션을 클릭하시면 자동으로 태그가 추가됩니다." %></div>
  </div>
  <hr/>
    태그옵션 
    <%= link_to "#기본제공", "javascript: void(0)", onclick: "addTextTag('#기본제공 '); return false" %>
    <%= link_to "#공대", "javascript: void(0)", onclick: "addTextTag('#공대 '); return false" %>
    <%= link_to "#컴퓨터공학", "javascript: void(0)", onclick: "addTextTag('#컴퓨터공학 '); return false" %>
    <%= link_to "#디자이너", "javascript: void(0)", onclick: "addTextTag('#디자이너 '); return false" %>
    <%= link_to "#미대", "javascript: void(0)", onclick: "addTextTag('#미대 '); return false" %>
    <%= link_to "#일상樂", "javascript: void(0)", onclick: "addTextTag('#일상樂 '); return false", style: "font-family: nanum-gothic" %>
    <%= link_to "#먹방", "javascript: void(0)", onclick: "addTextTag('#먹방 '); return false" %>
    <%= link_to "#스터디", "javascript: void(0)", onclick: "addTextTag('#스터디 '); return false" %>
    <%= link_to "#학업", "javascript: void(0)", onclick: "addTextTag('#학업 '); return false" %>
    <%= link_to "#장학금", "javascript: void(0)", onclick: "addTextTag('#장학금 '); return false" %>
    <%= link_to "#소프트웨어", "javascript: void(0)", onclick: "addTextTag('#소프트웨어 '); return false" %>
    <%= link_to "#하드웨어", "javascript: void(0)", onclick: "addTextTag('#하드웨어 '); return false" %>
    <%= link_to "#할인", "javascript: void(0)", onclick: "addTextTag('#할인 '); return false" %>
    <%= link_to "#우리만_있다", "javascript: void(0)", onclick: "addTextTag('#우리만_있다 '); return false" %>
    <%= link_to "#무료", "javascript: void(0)", onclick: "addTextTag('#무료 '); return false" %>
    <%= link_to "#취업", "javascript: void(0)", onclick: "addTextTag('#취업 '); return false" %>
  <hr/>
  
  <script>
    function addTextTag(text){
      document.getElementById('promotion_univ_hashtag').value += text;
    }  
  </script>

  <div class="field row">
    <div class="col-md-12"><%= form.label :"혜택 설명" %></div>
    <div class="col-md-12"><%= form.text_area :content, id: :promotion_content, class: "form-control" %></div>
  </div>

  <div class="actions" align="center" style="margin-top: 30px">
    <%= form.button "작성", class: "btn btn-sm btn-primary" %>
    <%= link_to '목록', promotions_path, class: "btn btn-sm btn-dark"  %>
  </div>
<% end %>
